@media screen and (max-width: 768px){
    nav.desktop{
        display: none;
    }
    .equipe{
        width: 100%;
    }
    .sobre-equipe{
        padding: 40px 20px;
        width: 100%;
    }
    .sobre-equipe p{
        text-align: justify;
    }

    .formulario{
        width: 100%;
        margin-bottom: 30px;
    }
    .contato-midia-socials{
        width: 100%;
        margin: 50px 0;
    }
    .servicos-gallery{
        width: 90%;
    }
    .gallery img{
        height: 200px;
        width: 100%;
    }
}