@media screen and (max-width: 768px){
    nav.desktop,.logomarca{
        display: none;
    }
    .logo-mobile a{
        font-weight: 400;
		font-size: 26px;
		color: #ffffff;
		text-decoration: none;
	}
	nav.mobile{
		position: relative;
		display: block;
        width: 100%;
        text-align: center;
        z-index: 999;
	}

	nav.mobile h3{
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
        color: rgb(255, 255, 255);
        font-size: 26px;
	}
	nav.mobile ul{
		display: none;
		list-style: none;
		background-color:  rgb(0, 110, 82);
		position: absolute;
		left: -2%;
		top: 36px;
		width: 104%;
		text-align: center;
	}
	nav.mobile li{
		padding: 8px 0;
		border-top: 1px solid white;
	}
	nav.mobile > ul > li > a{
        color: rgb(255, 255, 255);
        font-size: 18px;
		text-decoration: none;
		font-weight: lighter;
	}

    .equipe{
        width: 100%;
    }
    .sobre-equipe{
        padding: 40px 20px;
        width: 100%;
    }
    .sobre-equipe p{
        text-align: justify;
    }

    .content-parallax{
        width: 80%;
    }

    .formulario{
        width: 100%;
        margin-bottom: 30px;
    }
    .contato-midia-socials{
        width: 100%;
        margin: 50px 0;
    }
    .servicos-gallery{
        width: 90%;
    }
    .gallery img{
        height: 200px;
        width: 100%;
    }

    
}