section.banner-main{
    width: 100%;
    background-image: url('../images/banner-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    z-index: 1;
}
.overlay{
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 41, 25, 0.493);
    z-index: 3;
}

.msg{
    width: 90%;
    margin: 0px auto;
    padding: 25% 0%;
    z-index: 4;
}
.msg h2{
    text-align: center;
    font-size: 42px;
    color: rgb(12, 247, 196);
    font-family: 'Roboto';
    padding-bottom: 40px;
}
.msg p{
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    color: white;
    font-weight: 500;
}

.icon-whatsapp{
    position: fixed;
    right: 0;
    bottom: 50px;
    padding: 0 20px;
    z-index: 999;
}
.icon-whatsapp img{
    height: 100px;
}