*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html,body{
    height: 100%;
}

.clear{clear: both;}

.center{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

.barra{
    height: 6px;
    width: 100px;
    background-color: rgb(75, 214, 184);
}

header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;
}

header .logomarca{
    float: left;
    padding: 16px 0px;
}
.logomarca a{
    font-family: 'Opilogue';
    font-size: 34px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

header nav.desktop{
    float: right;
}
nav.desktop li{
    text-align: center;
    display: inline-block;
    padding: 20px 0px;
    padding-left: 30px; 
}
nav.desktop a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

section.banner-main{
    height: 620px;
    width: 100%;
    background-image: url('../images/banner-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    z-index: 1;
}
.overlay{
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 41, 25, 0.493);
    z-index: 3;
}

.msg{
    width: 80%;
    margin: 0px auto;
    padding: 15% 0%;
    z-index: 4;
}
.msg h2{
    text-align: center;
    font-size: 42px;
    color: rgb(12, 247, 196);
    font-family: 'Roboto';
    padding-bottom: 40px;
}
.msg p{
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    color: white;
    font-weight: 500;
}

section.sobre{
    width: 100%;
    padding: 10% 5%;
    background-color: rgb(240, 240, 240);
}

.equipe{
    width: 50%;
    float: left;
}
.title-equipe{
    padding-bottom: 30px;
}
.title-equipe h2{
    font-size: 34px;
    color: rgb(2, 184, 144);
}
.avatar{
    padding-bottom: 30px;
    width: 100%;
    float: left;
}
.img-avatar{
    float: left;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-image: url('../images/avatar.jpg');
}
.descricao-avatar{
    float: left
}
.descricao-avatar h4{
    padding: 10px;
    font-size: 20px;
}
.descricao-avatar p{
    padding-left: 12px;
    font-size: 16px;
}

.sobre-equipe{
    width: 50%;
    float: left;-
}
.sobre-equipe h2{
    font-size: 34px;
    padding-bottom: 28px;
    color: rgb(2, 184, 144);
    
}
.sobre-equipe p{
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    line-height: 34px;
}

.midia-socials{
    padding-top: 30px;
}
.midia-socials a{
    color: rgb(2, 184, 144);
    text-decoration: none;
    font-size: 38px;
    padding-right: 26px;
}

.parallax{
    width: 100%;
    height: 250px;
    background-image: url('../images/banner-3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content-parallax{
    margin: 0 auto;
    width: 35%;
    padding: 90px 0;
}
.content-parallax h2{
    font-family: 'Roboto';
    padding: 20px;
    text-align: center;
    font-size: 36px;
    color: rgb(12, 247, 196);
    border: 1px solid rgb(12, 247, 196);
    font-weight: 200;
}

section.servicos{
    width: 100%;
    min-height: 750px;
    background-color: rgb(240, 240, 240);
}
.title-servicos h2{
    font-size: 34px;
    color: rgb(2, 184, 144);
}
.title-servicos{
    padding-top: 80px;
}

.gallery{
    visibility: hidden;
    opacity: 0;
}


section.contato{
    width: 100%;
    min-height: 700px;
}
.title-contato{
    padding-top: 80px;
}
.formulario{
    float: left;
    width: 50%;
    padding-top: 40px;
}

.formulario input[type=text],input[type=email]{
    width: 100%;
    margin: 10px 0;
    padding: 6px;
}
.formulario textarea{
    min-height: 130px;
    width: 100%;
    padding: 10px;
    resize: vertical;
}

.contato-midia-socials{
    float: left;
}

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}
footer p{
    background-color: rgb(2, 184, 144);
    padding: 10px 0;
    text-align: center;
    color: white;
}